{{ define "main" }}

home template
{{ .Content }}

{{/* Event list */}}
<h2>Editions</h2>
<div class="list-container-compact">
    {{ range where site.RegularPages "Section" "e" }}
        <a href="{{ .RelPermalink }}">{{ .Param "Name" }}</a>
    {{ end }}
</div>

{{/* Participant list */}}
<h2>Participants</h2>
<div class="list-container-compact">
    {{ range where site.RegularPages "Section" "p" }}
        <a href="{{ .RelPermalink }}">{{ .Param "Name" }}</a>
    {{ end }}
</div>

{{ end }}

